footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    background-image: url(../Data/Footer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f1f1f1;
}
footer > * {
    margin-bottom: 30px;
}
footer p {
    font-size: 1rem;
    color: #8d8d8d;
}
footer > *:last-child {
    align-self: center;
}
hr {
    width: 70%;
    margin-right: 300px;
    color: #c4c4c4;
}

footer img {
    width: fit-content;
}
