nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px;
}
nav ul a {
    margin-left: 15px;
    text-decoration: none;
    color: inherit;
}

nav ul a:hover {
    color: #666;
}
